* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.layout {
  max-width: 1500px;
  /* height: 100vh; */
  width: 100%; 
  display: flex;
  font-size: 25px;
  border: 3px solid black;
}

.left-column, .mid-1, .mid-2, .right-column {
  width: 25%;
  height: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.left-column > div, .mid-1 > div, .mid-2 > div, .right-column > div {
  border: 3px solid black;
  background-color: green;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.box-1,.box-4 {
  height: 200px;
}

.box-2,.box-3 {
  height: 300px;
}

.box-5 {
  height: 100px;
}

.box-6 {
  height: 400px;
}

.box-7 {
  height: 350px;
}

.box-8 {
  height: 150px;
}