* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #f4f4f4;
    color: #1c1c1c;
}

/* BUTTONS */
.btn {
    padding: 10px 24px;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    border: none;
    font-weight: 500;
}

.btn-primary {
    background: #2b8a3e;
    color: #fff;
}

.btn-primary:hover {
    background: #247235;
}

.btn-secondary {
    background: #1c1c1c;
    color: #fff;
}

/* NAVBAR */
.navbar {
    width: 100%;
    padding: 20px 70px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 28px;
    font-weight: 700;
    color: #ff5a3c;
}

.nav-links {
    display: flex;
    gap: 40px;
}

.nav-links a {
    text-decoration: none;
    color: #1c1c1c;
    font-weight: 500;
    font-size: 15px;
}

.nav-links a:hover {
    color: #2b8a3e;
}

.nav-search input {
    padding: 8px 14px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 14px;
    width: 180px;
    margin-right: 15px;
}

/* HERO */
.hero {
    background: linear-gradient(135deg, #2b6e4f, #358761);
    display: flex;
    justify-content: space-between;
    padding: 70px;
    margin: 40px 70px;
    border-radius: 25px;
    color: #fff;
    align-items: center;
}

.hero-left {
    width: 50%;
}

.badge {
    background: rgba(255, 255, 255, 0.2);
    padding: 6px 14px;
    border-radius: 8px;
    font-size: 13px;
    margin-bottom: 20px;
    display: inline-block;
}

.hero-left h1 {
    font-size: 46px;
    line-height: 1.3;
    margin-bottom: 20px;
}

.highlight {
    color: #b9ff8f;
}

.hero-sub {
    margin-bottom: 25px;
    width: 80%;
}

.hero-right img {
    width: 360px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

/* CATEGORIES */
.categories {
    text-align: center;
    padding: 50px 0;
}

.section-title {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 45px;
}

.cat-container {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.cat-card {
    width: 150px;
    background: #fff;
    padding: 25px;
    border-radius: 16px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
    text-align: center;
}

.cat-img {
    width: 80px;
    height: 80px;
    margin: 0 auto 15px auto;
    /* margin-bottom: 15px; */
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f0f0f0;
}

.cat-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.cat-card p {
    font-size: 15px;
    font-weight: 500;
    color: #1c1c1c;
    margin-top: 5px;
}

/* QUALITY */
.quality {
    padding: 65px 120px;
    display: flex;
    align-items: flex-start;
    gap: 255px;
}

.quality-img img {
    width: 380px;
}

.quality-text {
    width: 45%;
}

.quality-text .btn {
    margin-top: 25px;
}

/* SERVICE FEATURE */
.service {
    padding: 80px 70px;
    background: #306d4e;
    border-radius: 25px;
    margin: 50px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.service-img img {
    width: 350px;
    border-radius: 20px;
}

.tag {
    color: red;
}

/* PRODUCTS */
.products {
    padding: 50px 70px;
}

.products-container {
    display: flex;
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap;
}

.product-card {
    width: 230px;
    background: #fff;
    padding: 10px 15px;
    border-radius: 18px;
    text-align: center;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
    overflow: hidden;
}

.product-img {
    width: 120px;
    height: 120px;
    background: #dcdcdc;
    border-radius: 12px;
    margin: auto;
    margin-bottom: 14px;
}

.product-card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 12px;
    margin: auto;
    display: block;
}


/* SALE BANNER */
.sale-banner {
    margin: 50px 70px;
    padding: 40px;
    background: #2b8a3e;
    border-radius: 25px;
    display: flex;
    align-items: center;
    gap: 140px;
    color: #fff;
}

.sale-banner img {
    width: 350px;
    border-radius: 20px;
}

/* FAQ */
.faq {
    padding: 50px 70px;
}

.faq-box {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.faq-item {
    background: #fff;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.08);
}

/* NEWSLETTER */
.newsletter {
    background: #306d4e;
    text-align: center;
    padding: 60px 0;
    color: #fff;
}

.newsletter-box {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 12px;
}

.newsletter input {
    padding: 12px 16px;
    width: 280px;
    border-radius: 8px;
    border: none;
}

/* FOOTER */
.footer {
    background: #ffffff;
    padding: 50px 70px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.foot-col {
    width: 200px;
}

.social-icons {
    margin-top: 15px;
}

.social-icons a img {
    width: 35px;
    height: 35px;
    margin: 0 10px;
}

/* RESPONSIVE TABLET */
@media (max-width: 768px) {

    /* HERO */
    .hero {
        flex-direction: column;
        text-align: center;
        gap: 25px;
    }

    .hero-left,
    .hero-right {
        width: 100%;
    }

    /* QUALITY + SERVICE */
    .quality,
    .service {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    /* CATEGORY CARDS */
    .cat-container {
        flex-wrap: wrap;
        justify-content: center;
        gap: 25px;
    }

    .cat-card {
        width: 160px;
    }

    /* PRODUCT CARDS */
    .product-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 25px;
    }

    .product-card {
        width: 45%;
        /* 2 per row on tablets */
        max-width: 200px;
    }

    /* SALE BANNER */
    .sale-banner {
        flex-direction: column;
        text-align: center;
        gap: 40px;
    }

    .sale-banner img {
        width: 280px;
    }

    /* NEWSLETTER */
    .newsletter-box {
        flex-direction: column;
        text-align: center;
        gap: 15px;
    }

    /* FOOTER */
    .footer {
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }

    .social-icons a img {
        width: 32px;
        height: 32px;
    }
}

/* RESPONSIVE MOBILE */
@media (max-width: 600px) {

    /* NAVIGATION */
    .nav-links {
        display: none;
    }

    /* HERO */
    .hero-left h1 {
        font-size: 32px;
        line-height: 38px;
    }

    /* CATEGORY CARDS */
    .cat-card {
        width: 140px;
    }

    /* PRODUCT CARDS */
    .product-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .product-card {
        width: 150px;
    }

    /* SALE BANNER */
    .sale-banner {
        flex-direction: column;
        text-align: center;
        padding: 25px;
        gap: 30px;
    }

    .sale-banner img {
        width: 220px;
    }

    /* NEWSLETTER */
    .newsletter-box {
        flex-direction: column;
        text-align: center;
    }

    /* FOOTER */
    .footer {
        flex-direction: column;
        gap: 25px;
        text-align: center;
    }

     .social-icons {
        gap: 12px;
    }

    .social-icons a img {
        width: 28px;
        height: 28px;
    }
}
