body {
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

/* HERO */
.hero {
    padding: 60px 0;
}

.hero h1 {
    font-size: clamp(28px, 5vw, 48px);
    font-weight: 700;
}

.hero p {
    color: #555;
    margin: 20px 0;
}

/* logo */
.logos {
    padding: 30px 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.brand-logo {
    max-height: 70px;
    opacity: 0.7;
    transition: 0.3s ease;
}

.brand-logo:hover {
    opacity: 1;
}

/* SERVICES */
.services {
    padding: 80px 0;
}

.section-title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 40px;
}

mark {
    background-color: #B9FF66;
}

.services-text {
    color: #555;
    font-size: 16px;
    line-height: 1.6;
    max-width: 600px;
}

.icon img {
    max-width: 120px;
    width: 100%;
}

.service-card {
    padding: 40px;
    border-radius: 20px;
    height: 100%;
    box-shadow: 5px 5px;

}

.service-card.grey {
    background: #F3F3F3;
}

.service-card.green {
    background: #B9FF66;
    color: rgb(0, 0, 0);
}

.white {
    background-color: white;
}

.service-card a {
    display: inline-block;
    margin-top: 20px;
    font-weight: 600;
    color: inherit;
    text-decoration: none;
}

.process-title {
    background: #b9ff66;
    padding: 6px 14px;
    border-radius: 8px;
    font-weight: 700;
}

.process-subtitle {
    color: #555;
    font-size: 14px;
}

.process-item {
    border: 2px solid #1a1a1a;
    border-radius: 30px;
    padding: 25px 30px;
    margin-bottom: 20px;
    background: #fff;
    transition: 0.3s ease;
}

.process-item.active {
    background: #b9ff66;
}

.process-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.process-header .left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.step {
    font-size: 32px;
    font-weight: 700;
}

.process-header h4 {
    margin: 0;
    font-weight: 600;
}

.toggle-btn {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 2px solid #000;
    background: #fff;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.process-body {
    margin-top: 20px;
    font-size: 14px;
    color: #333;
    display: none;
}

.process-item.active .process-body {
    display: block;
}


/* CONTACT */
.contact-title {
    background: #b9ff66;
    padding: 6px 14px;
    border-radius: 6px;
    font-weight: 700;
}

.contact-subtitle {
    font-size: 14px;
    color: #555;
}

/* Contact box */
.contact-box {
    background: #f5f5f5;
    border-radius: 30px;
    padding: 40px;
}

/* Radio buttons */
.radio-box {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-weight: 500;
}

.radio-box input {
    display: none;
}

.radio-box span {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid #000;
    position: relative;
}

.radio-box input:checked+span::after {
    content: "";
    width: 6px;
    height: 6px;
    background: #b9ff66;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
}

/* Inputs */
.custom-input,
.custom-textarea {
    border-radius: 10px;
    border: 1.5px solid #aaa;
}

.custom-textarea {
    height: 120px;
    resize: none;
}

/* Button */
.send-btn {
    width: 100%;
    background: #111;
    color: #fff;
    border: none;
    padding: 14px;
    border-radius: 10px;
    font-weight: 600;
}

.contact-image {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}


/* FOOTER */
.footer-section {
    background: #0f1117;
    color: #fff;
    padding: 50px 0 30px;
    border-radius: 20px;
    margin: 20px 10px;
}

.brand-name {
    font-weight: 700;
    margin-bottom: 20px;
}

.contact-badge {
    display: inline-block;
    background: #b9ff66;
    color: #000;
    padding: 6px 14px;
    border-radius: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.contact-list {
    list-style: none;
    padding: 0;
    margin-top: 15px;
    line-height: 1.8;
    color: #d1d1d1;
}

.subscribe-box {
    background: #1a1d25;
    padding: 25px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (min-width: 768px) {
    .subscribe-box {
        flex-direction: row;
    }
}

.subscribe-box input {
    background: transparent;
    border: 1px solid #444;
    color: #fff;
}

.subscribe-box input::placeholder {
    color: #aaa;
}

.subscribe-btn {
    background: #b9ff66;
    color: #000;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 10px;
}

.footer-line {
    border-color: #333;
    margin: 30px 0 15px;
}

.footer-bottom {
    font-size: 14px;
    color: #aaa;
}

.footer-bottom a {
    color: #aaa;
    text-decoration: none;
}

.custom-navbar {
    background: #0f1117;
    padding: 18px 0;
}

.navbar-brand {
    font-size: 20px;
}

.footer-nav {
    color: #f5f2f2 ;
    font-weight: 500;
    font-size: 14px;
}

.nav-link:hover {
    color: #b9ff66 ;
}

.social-icons a {
    color: #fff;
    margin-left: 15px;
    font-size: 16px;
    transition: 0.3s;
}

.social-icons a:hover {
    color: #b9ff66;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    filter: invert(1);
}

@media (max-width: 768px) {
    .service-card {
        padding: 25px;
    }

    .contact-box {
        padding: 20px;
    }

    .hero p {
        font-size: 14px;
    }
}